include:
  - path: src/main/resources/oci/ai/docker-compose.yml
  - path: src/main/resources/oci/db/docker-compose.yml

services:
  application:
    build: .
    image: abach42.superhero:latest
    container_name: superhero-server
    restart: no
    ports:
      - "8443:8443"
    depends_on:
      database:
        condition: service_started
      ollama:
        condition: service_started
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://database:5432/db
      - SPRING_DATASOURCE_USERNAME=db
      - SPRING_DATASOURCE_PASSWORD=db
volumes:
  database:
  ollama: