com.abach42.superhero:
  cors:
    allowed-origins:
      - http://localhost:3000
      - https://localhost:3001
      - https://localhost:8443
    allowed-methods:
      - '*'
    allowed-headers:
      - '*'
    exposed-headers:
      - '*'
    allow-credentials: true
    maxAge: 3600
  security:
    jwt:
      # must be at least 256 bits,
      # caution: never commit key in production, consider to use env var
      token-secret: ks9lg8pubax3ctmw9aq4pz4vduxllqq4
  database-cleanup-service:
    enabled: true
    erase-soft-deleted-at: "0 0 0 ? * SAT"
  # "0 0 0 ? * SAT" Cron expression for every Saturday at midnight
  # "0 0 0 1 * ?" Cron expression for the first day of every month at midnight
  # "0 0 0 1 1/6 ?" Cron expression for the first day of every 6th month at midnight
server:
  port: 8443
  ssl:
    key-store: "classpath:.certs/abach42.superhero.p12"
    # credential use only for localhost (production: change and use .env)
    key-store-password: onlyForLocalhost123
  error:
    include-message: always
    include-binding-errors: always
    include-stacktrace: on-param
    include-exception: false
  servlet:
    session:
      cookie:
        same-site: "none"
    # Static resources: In a stand-alone web application, the default servlet from the container is not enabled.
    # The servlet container will serve static resources from the static paths
    # (e.g., /static, /public, /resources, or /META-INF/resources).
    register-default-servlet: true
spring:
  profiles:
    active: default
  mvc:
    log-request-details: true
    # Static resources: By default, resources are mapped on /**,
    # For instance, relocating all resources to /resources/** can be achieved
    static-path-pattern: "/**"
  web:
    resources:
      # You can also customize the static resource locations, replacing the default values with a list of directory
      # locations). The root servlet context
      # path, "/", is automatically added as a location as well.
      static-locations: classpath:/public/, classpath:/static/
  ai:
    vectorstore:
      pgvector:
      index-type: HNSW
      distance-type: COSINE_DISTANCE
      dimensions: 1024
      max-document-batch-size: 10000 # Optional: Maximum number of documents per batch
    ollama:
      retry:
        enabled: false
      init:
        # let AI service do the job of pulling
        pull-model-strategy: never
        timeout: 60s
        max-retries: 1
        embedding:
          additional-models:
            - mxbai-embed-large
            - nomic-embed-text
  shell:
    interactive:
      enabled: false
  jpa:
    properties:
      hibernate:
        ddl-auto: none
        format_sql: true
        highlight_sql: true
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:15432/db}
    username: ${SPRING_DATASOURCE_USERNAME:db}
    password: ${SPRING_DATASOURCE_PASSWORD:db}
    driverClassName: org.postgresql.Driver
  docker:
    compose:
      file:
        - src/main/resources/oci/db/docker-compose.yml
        - src/main/resources/oci/ai/docker-compose.yml
      skip:
        in-tests: true
      start:
        command: up
        log-level: trace
      lifecycle-management: start_and_stop
  liquibase:
    enabled: false
  data:
    web:
      pageable:
        default-page-size: 5
springdoc:
  swagger-ui:
    enabled: true
    tryItOutEnabled: true
    filter: false
    syntaxHighlight.activated: true
debug: false
logging:
  level:
    org:
      hibernate:
        SQL: DEBUG
        orm.jdbc.bind: TRACE
      springframework:
        web: TRACE
        security: TRACE
    web: TRACE