services:
  ollama:
    build:
      context: ../../../../../
      dockerfile: src/main/resources/oci/ai/Dockerfile
    ports:
      - "11434:11434"
    volumes:
      - ollama:/root/.ollama

volumes:
  ollama:
